<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<div id="header"></div>
<div class="left"></div>
<div class="stuff">
  <br><br>
  <h1>Resume</h1>
  <h2>Sean Payne</h2>
  <hr />
  <br>
  <p class="head">Interests</p>
  <ul>
    <li>Programming</li>
    <li>Computer Science</li>
    <li>Physics</li>
    <li>Astronomy</li>
    <li>Business</li>
  </ul>
  <p class="head">Skills</p>
  <ul>
    <li>FrontEnd languages such as HTML, CSS, JS.</li>
    <li>Additional frameworks such as React and Jquery.</li>
    <li>Other notable languages include PHP, Java, Python.</li>
  </ul>
  <p class="head">Education</p>
  <ul>
    <a target="blank" href="https://stansburyhigh.tooeleschools.org/">
      <li>Stansbury High School</li>
    </a>
    <!--Link-->
    <a target="blank" href="https://tooeletech.edu/">
      <li>Tooele Technical College</li>
    </a>
    <a target="blank" href="https://www.slcc.edu/">
      <li>Salt Lake Community College</li>
    </a>
    <a target="blank" href="https://www.usu.edu/">
      <li>Utah State University</li>
    </a>    
  </ul>
  <p class="head">Experience</p>
  <ul>
    <li>Shammy Shack Line Worker</li>
    <li>USU Facilitator</li>
  </ul>

</div>
<div class="right"></div>
<div id="footer">
  <h2 id="name">Sean Payne</h2></div>
</html>
